<h1>Image upload</h1>
<!--When creating a form to upload files, include enctype="multipart/form-data"-->
    <form action="/imageUpload" method="POST" enctype="multipart/form-data">
      <div class="file-field input-field">
        <input name="myImage" type="file">
      </div>
      <button type="submit" class="btn">Submit</button>
    </form>